@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: cornflowerblue;
    width: 60%;
    margin: auto;
}

img {
    width: 40px;
}

h1 {
    font-size: 40px;
    margin-bottom: 1%;
}

.intro p {
    font-size: 20px;
    margin: 1%;
    margin-bottom: 1.5em;
}

.intro {
    margin-top: 5em;
    text-align: center;
}

.resume {
    font-family: 'Roboto', sans-serif; /*make root later? */
    text-align: center;
    text-decoration: none;
    background-color: black;
    font-weight: 700;
    font-size: 20px; /*1.5rem*/
    padding: 10px 15px;
    border: 1px solid black;
    color: white;

    transition: background-color 0.75s, color 0.5s;
}

.resume:hover {
    background-color: white;
    color: black;
}

.social{
    margin: 1.5rem;
    display: flex;
    justify-content: center;
}

.social a {
    padding: 10px
}

.facts {
    font-size: 20px;
    color: black;
    background-color: white;
    text-align: left;
    border: solid 2px black;
}

.p-link {
    text-decoration: none;
    transition: background-color 0.75s, color 0.5s;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    padding: 10px 15px;
    color: white;
    background-color: black;
    width: fit-content;
    border: 1px solid black;

    transition: background-color 0.75s, color 0.5s;
}

.subtitle:hover {
    background-color: white;
    color: black;
}

/* CSS CARD */
.card {
    margin: 10px auto;
    padding: 5px 15px;
    border: solid 2px black;
    background-color: white;

    transition: border 1s;
}

.card-title {
    margin-bottom: 0;
}

.card-subtitle {
    color: grey;
    margin: 0;
}

.description {
    margin: 0;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.execute {
    font-size: 50px;
    text-decoration: none;
}

.card:hover {
    border: solid 2px gray;
}

/* JOBS */
.job-info {
    display: flex;
    justify-content: space-between;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
  }

footer {
    padding: 2%;
    text-align: center;
}

.secret {
    color: white;
    text-decoration: none;
}

.p-link,.execute:visited{
    color: black;
}

.p-link:hover {
    background-color: black;
    color: white;
}